In [1]:
import numpy as np
import pandas as pd
#cp_data_set = pd.read_csv("final_version_influenza_dataset.csv", encoding='utf-8-sig')

cp_data_set=pd.read_csv("update_influenza_dataset.csv")
cp_data_set1=cp_data_set

In [2]:
cp_data_set2 = cp_data_set1.sample(frac=1, random_state=42).reset_index(drop=True)
cp_data_set2.head(2)

,Unnamed: 0,Gender,age,wbc,hgb,rbc,plt,ly1,mid,grand,hct,mcv,mch,mchc,influenza_result
0,231,0.0,71,5.90,12.6,4.90,279.0,40.7,10.50,48.8,34.9,77.2,27.90,36.1,0
1,374,1.0,13,9.07,15.7,4.85,441.0,59.7,3.49,36.8,37.9,80.2,27.96,32.7,1

In [3]:
cp_data_set.columns
cp_data_set2=cp_data_set2.drop(columns='Unnamed: 0')
cp_data_set2.head(3)

,Gender,age,wbc,hgb,rbc,plt,ly1,mid,grand,hct,mcv,mch,mchc,influenza_result
0,0.0,71,5.90,12.6,4.90,279.0,40.7,10.50,48.8,34.9,77.2,27.90,36.1,0
1,1.0,13,9.07,15.7,4.85,441.0,59.7,3.49,36.8,37.9,80.2,27.96,32.7,1
2,0.0,11,4.60,16.6,5.89,178.0,31.6,10.50,57.9,45.1,76.9,28.30,36.8,0

In [4]:
cp_data_set2.isnull().sum()

Gender              1
age                 0
wbc                 0
hgb                 0
rbc                 0
plt                 0
ly1                 0
mid                 0
grand               0
hct                 0
mcv                 0
mch                 0
mchc                0
influenza_result    0
dtype: int64

In [5]:
cp_data_set2.shape

(555, 14)

In [6]:
cp_data_set2=cp_data_set2.dropna()
cp_data_set2.shape

(554, 14)

In [7]:
import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [8]:

#shortend names
lr=LogisticRegression(random_state=0,max_iter=20)
dt=DecisionTreeClassifier(max_depth=2)
svr=SVC()
knn=KNeighborsClassifier()
rf=RandomForestClassifier(max_depth=4,n_estimators=6)

In [9]:

influenza_independent_variables=cp_data_set2.iloc[:,0:13]
influenza_independent_variables.head()

,Gender,age,wbc,hgb,rbc,plt,ly1,mid,grand,hct,mcv,mch,mchc
0,0.0,71,5.90,12.6,4.90,279.0,40.7,10.50,48.80,34.9,77.2,27.90,36.10
1,1.0,13,9.07,15.7,4.85,441.0,59.7,3.49,36.80,37.9,80.2,27.96,32.70
2,0.0,11,4.60,16.6,5.89,178.0,31.6,10.50,57.90,45.1,76.9,28.30,36.80
3,1.0,41,8.93,14.4,4.80,391.0,58.7,2.03,39.26,44.5,84.6,27.04,32.99
4,0.0,28,7.60,16.1,5.99,318.0,17.3,5.30,77.40,43.7,73.0,26.80,36.80

In [10]:
influenza_dependend_variables=cp_data_set2.iloc[:,13:]
influenza_dependend_variables.head()

   influenza_result
0                 0
1                 1
2                 0
3                 1
4                 0

In [11]:
cp_data_set2.influenza_result.value_counts()

1    326
0    228
Name: influenza_result, dtype: int64

In [12]:
x_train,x_test,y_train,y_test=train_test_split(influenza_independent_variables,influenza_dependend_variables,test_size=0.2,random_state=42)
from sklearn.metrics import accuracy_score,precision_score, recall_score, f1_score ,r2_score,r2_score

In [13]:

#shortend names
lr=LogisticRegression(random_state=0,max_iter=21,C=1.0,l1_ratio=.9)
dt=DecisionTreeClassifier(max_depth=4)
svr=SVC()
knn=KNeighborsClassifier()
rf=RandomForestClassifier(max_depth=2,n_estimators=3)

In [14]:
for i in [lr]:
    i.fit(x_train,y_train)
    pred=i.predict(x_test)
    test_score=r2_score(y_test,pred)
    train_score=r2_score(y_train,i.predict(x_train))
    precision = precision_score(y_test, pred)
    recall = recall_score(y_test, pred)
    f1 = f1_score(y_test, pred)

# Print the evaluation metrics
    print(i,"test score",test_score,"train_score",train_score)

    print(i,'Precision:', precision)
    print(i,'Recall:', recall)
    print(i,'F1-score:', f1)

LogisticRegression(l1_ratio=0.9, max_iter=21, random_state=0) test score 1.0 train_score 0.9810708028885186
LogisticRegression(l1_ratio=0.9, max_iter=21, random_state=0) Precision: 1.0
LogisticRegression(l1_ratio=0.9, max_iter=21, random_state=0) Recall: 1.0
LogisticRegression(l1_ratio=0.9, max_iter=21, random_state=0) F1-score: 1.0

c:\Users\Muhammad Faizan\anaconda3\envs\streamlit\lib\site-packages\sklearn\linear_model\_logistic.py:1165: UserWarning: l1_ratio parameter is only used when penalty is 'elasticnet'. Got (penalty=l2)
  warnings.warn(
c:\Users\Muhammad Faizan\anaconda3\envs\streamlit\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\Muhammad Faizan\anaconda3\envs\streamlit\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
import joblib
joblib.dump(dt, "influenza_model.joblib")