In [3]:
import numpy as np
import pandas as pd
malaria_data_set=pd.read_excel("malaria_dataset.xlsx")

In [4]:
malaria_data_set.head(3)

,Gender,age,wbc,hgb,rbc,plt,lym,mid,grand,hct,mcv,mch,mchc,malaria_result
0,1.0,10,5.684170,8.239717,2.402521,61.0,20.295820,37.133470,42.570711,34.192624,83.725800,24.808936,30.381884,1
1,0.0,64,9.908648,10.722172,3.212546,82.0,31.076104,12.702896,56.221000,25.090894,93.633331,27.620859,29.925954,1
2,1.0,39,8.193152,10.473806,4.144448,103.0,23.198338,22.438870,54.362793,17.002259,81.452868,24.264894,27.457515,1

In [5]:
malaria_data_set.columns

Index(['Gender', 'age ', 'wbc', 'hgb', 'rbc', 'plt', 'lym', 'mid', 'grand',
       'hct', 'mcv', 'mch', 'mchc', 'malaria_result'],
      dtype='object')

In [6]:
malaria_data_set.isnull().sum()

Gender            1
age               0
wbc               0
hgb               0
rbc               0
plt               0
lym               0
mid               0
grand             0
hct               0
mcv               0
mch               0
mchc              0
malaria_result    0
dtype: int64

In [7]:
malaria_data_set=malaria_data_set.dropna()

In [9]:
malaria_data_set1=malaria_data_set

In [10]:
import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [11]:
#shortend names for classifier
lr=LogisticRegression()
dt=DecisionTreeClassifier()
svr=SVC()
knn=KNeighborsClassifier()

In [13]:

malaria_independent_variables=malaria_data_set1.iloc[:,0:13]
malaria_independent_variables.head(3)

,Gender,age,wbc,hgb,rbc,plt,lym,mid,grand,hct,mcv,mch,mchc
0,1.0,10,5.684170,8.239717,2.402521,61.0,20.295820,37.133470,42.570711,34.192624,83.725800,24.808936,30.381884
1,0.0,64,9.908648,10.722172,3.212546,82.0,31.076104,12.702896,56.221000,25.090894,93.633331,27.620859,29.925954
2,1.0,39,8.193152,10.473806,4.144448,103.0,23.198338,22.438870,54.362793,17.002259,81.452868,24.264894,27.457515

In [14]:
malaria_dependend_variables=malaria_data_set1.iloc[:,13:]
malaria_dependend_variables.head(3)

   malaria_result
0               1
1               1
2               1