In [1]:
import numpy as np
import pandas as pd

In [4]:
pneumonia_data=pd.read_excel("cbcdatasets1.xls")

In [5]:
c.head(2)

,s no,Gender,age,wbc,hgb,rbc,plt,lym,mid,grand,hct,mcv,mch,mchc
0,NaN,m,51,6.5,14.0,5.37,144.0,19.3,4.7,76.0,46.9,87.2,26,29.8
1,NaN,f,17,7.3,11.1,4.92,222.0,31.1,6.5,62.4,38.0,77.2,22.7,29.3

In [11]:
pneumonia_data=pneumonia_data.drop(columns='s no ')
pneumonia_data.columns

Index(['Gender', 'age ', 'wbc', 'hgb', 'rbc', 'plt', 'lym', 'mid', 'grand',
       'hct', 'mcv', 'mch', 'mchc'],
      dtype='object')

In [13]:
pneumonia_data.head(3)

,Gender,age,wbc,hgb,rbc,plt,lym,mid,grand,hct,mcv,mch,mchc
0,m,51,6.5,14.0,5.37,144.0,19.3,4.7,76.0,46.9,87.2,26,29.8
1,f,17,7.3,11.1,4.92,222.0,31.1,6.5,62.4,38.0,77.2,22.7,29.3
2,f,22,11.2,11.2,4.37,151.0,117.5,5,77.9,37.3,85.4,25.6,29.9

In [15]:
#conditions=[((uti_data["wbc"] >= 11)) & (uti_data["grand" ]>= 65)]

#values = ["1"]
#uti_data["uti_result"]=np.select(conditions,values)

conditions=[

(pneumonia_data["wbc"]>=11) & (pneumonia_data["grand"]>70)
]

values=["1"]
pneumonia_data["pneumonia_result"]=np.select(conditions,values)

In [30]:
pneumonia_data.groupby("pneumonia_result").sum()

,wbc,hgb,rbc,plt,lym,grand,hct,mcv,mchc
pneumonia_result,,,,,,,,,
0,1811.4,3170.89,1222.059,53231.4,6895.67,15077.0,9389.7,18414.2,7849.6
1,419.2,386.64,154.190,7128.0,580.90,2260.0,1197.7,2194.7,1248.2

In [31]:
pneumonia_data.to_csv("pneumonia_data.csv")

In [ ]:
pneumonia_data=pd.read_csv("pneumonia_data.csv")

In [ ]:
import streamlit as st

: