In [1]:
import numpy as np
import pandas as pd

In [2]:
typhoid_data=pd.read_csv("typhoid_data1.csv")
typhoid_data.head(2)

,Gender,age,wbc,hgb,rbc,plt,lym,mid,grand,hct,mcv,mch,mchc,typhoid_result
0,1,51,6.5,14.0,5.37,144.0,19.3,4.7,76.0,46.9,87.2,26.0,29.8,0
1,0,17,7.3,11.1,4.92,222.0,31.1,6.5,62.4,38.0,77.2,22.7,29.3,0

In [3]:
typhoid_data=typhoid_data.drop(columns="s no ")

KeyError: "['s no '] not found in axis"

In [4]:
typhoid_data.head(3)
typhoid_data.columns

Index(['Gender', 'age ', 'wbc', 'hgb', 'rbc', 'plt', 'lym', 'mid', 'grand',
       'hct', 'mcv', 'mch', 'mchc', 'typhoid_result'],
      dtype='object')

In [7]:
typhoid_data=typhoid_data.drop(columns="Unnamed: 0")

In [ ]:
typhoid_data.to_excel("typhoid_data1.xls")

In [2]:
data = pd.read_excel("typhoid_data1.xls")

FileNotFoundError: [Errno 2] No such file or directory: 'typhoid_data1.xls'

In [ ]:
conditions=[
(typhoid_data["wbc"]<=5)  & (typhoid_data["rbc"]<=5) & (typhoid_data["plt"]<=150) & (typhoid_data["grand"]<=40) &(typhoid_data["lym"]>=40) #&(a_r_i["grand"]>=35.5) & (a_r_i["grand"]<=48.5)
#(a_r_i["wbc"]>=11) &  (a_r_i["grand"]>=70)
]
values=["1"]
typhoid_data["typhoid_result"]=np.select(conditions,values)

In [5]:
typhoid_data.typhoid_result.value_counts()

0    260
1    200
Name: typhoid_result, dtype: int64

In [4]:
typhoid_data.head()

,Gender,age,wbc,hgb,rbc,plt,lym,mid,grand,hct,mcv,mch,mchc,typhoid_result
0,1,51,6.5,14.0,5.37,144.0,19.3,4.7,76.0,46.9,87.2,26.0,29.8,0
1,0,17,7.3,11.1,4.92,222.0,31.1,6.5,62.4,38.0,77.2,22.7,29.3,0
2,0,22,11.2,11.2,4.37,151.0,117.5,5.0,77.9,37.3,85.4,25.6,29.9,0
3,1,26,8.9,14.1,6.50,136.0,14.3,4.3,81.7,47.6,76.2,22.5,29.6,0
4,0,28,6.3,11.3,6.29,142.0,23.5,5.5,71.0,38.4,61.0,18.0,29.5,0

In [ ]:
typhoid_data.to_excel("typhoid_data1.csv")

In [ ]:
typhoid_data.Gender=typhoid_data.Gender.replace(["m","f"],[1,0])

In [ ]:
typhoid_data.head(2)

In [ ]:
typhoid_data.to_csv("typhoid_data1.csv")

In [6]:
import sklearn

In [7]:
from sklearn.linear_model import LogisticRegression

In [8]:
from sklearn.tree import DecisionTreeClassifier

In [9]:
from sklearn.svm import SVC

In [10]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [11]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [12]:
#shortend names
lr=LogisticRegression()
dt=DecisionTreeClassifier()
svr=SVC()
knn=KNeighborsClassifier()

In [13]:
typhoid_independent_variables=typhoid_data.iloc[:,0:13]

In [14]:
typhoid_independent_variables.head()

,Gender,age,wbc,hgb,rbc,plt,lym,mid,grand,hct,mcv,mch,mchc
0,1,51,6.5,14.0,5.37,144.0,19.3,4.7,76.0,46.9,87.2,26.0,29.8
1,0,17,7.3,11.1,4.92,222.0,31.1,6.5,62.4,38.0,77.2,22.7,29.3
2,0,22,11.2,11.2,4.37,151.0,117.5,5.0,77.9,37.3,85.4,25.6,29.9
3,1,26,8.9,14.1,6.50,136.0,14.3,4.3,81.7,47.6,76.2,22.5,29.6
4,0,28,6.3,11.3,6.29,142.0,23.5,5.5,71.0,38.4,61.0,18.0,29.5

In [15]:
typhoid_dependend_variables=typhoid_data.iloc[:,13:]

In [16]:
typhoid_independent_variables.head()

,Gender,age,wbc,hgb,rbc,plt,lym,mid,grand,hct,mcv,mch,mchc
0,1,51,6.5,14.0,5.37,144.0,19.3,4.7,76.0,46.9,87.2,26.0,29.8
1,0,17,7.3,11.1,4.92,222.0,31.1,6.5,62.4,38.0,77.2,22.7,29.3
2,0,22,11.2,11.2,4.37,151.0,117.5,5.0,77.9,37.3,85.4,25.6,29.9
3,1,26,8.9,14.1,6.50,136.0,14.3,4.3,81.7,47.6,76.2,22.5,29.6
4,0,28,6.3,11.3,6.29,142.0,23.5,5.5,71.0,38.4,61.0,18.0,29.5

In [17]:
typhoid_dependend_variables.head(1)

   typhoid_result
0               0

In [18]:
typhoid_data.typhoid_result.value_counts()

0    260
1    200
Name: typhoid_result, dtype: int64

In [19]:
x_train,x_test,y_train,y_test=train_test_split(typhoid_independent_variables,typhoid_dependend_variables,test_size=0.2,random_state=42)

In [20]:
for i in [lr,dt,svr,knn]:
    i.fit(x_train,y_train)
    pred=i.predict(x_test)
    test_score=r2_score(y_test,pred)
    train_score=r2_score(y_train,i.predict(x_train))
    print(i,"test score",test_score,"train_score",train_score)

c:\Users\Muhammad Faizan\anaconda3\envs\streamlit\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\Muhammad Faizan\anaconda3\envs\streamlit\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\Muhammad Faizan\anaconda3\envs\streamlit\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression() test score 0.9123809523809524 train_score 1.0
DecisionTreeClassifier() test score 0.7371428571428571 train_score 1.0
SVC() test score 1.0 train_score 0.9223628691983122
KNeighborsClassifier() test score 1.0 train_score 0.9334538878842676

c:\Users\Muhammad Faizan\anaconda3\envs\streamlit\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [21]:
x_train.head(2)
#knn.predict([[1,51,6.5,14,5.37,144,19.3,4.7,76,46.9,87.2,26,29.8]])

,Gender,age,wbc,hgb,rbc,plt,lym,mid,grand,hct,mcv,mch,mchc
455,1,39,2.61,14.5,4.65,85.0,65.8,5.35,29.0,45.8,87.2,30.09,33.23
57,1,22,8.50,15.3,5.30,185.0,26.8,7.10,56.1,41.7,678.8,28.90,36.70

In [22]:
res=knn.predict([[1	,39,	2.61,	14.5,	4.65,	85.0	,65.8	,5.35,	29.0	,45.8	,87.2,	30.09,33.23]])
print(res[0])

1

c:\Users\Muhammad Faizan\anaconda3\envs\streamlit\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [23]:
import pickle
pickle.dump(knn,open("typhoid_model.pkl","wb"))

In [24]:
dt.predict([[1	,22	,8.50	,15.3	,5.30	,185.0	,26.8	,7.10	,56.1	,41.7	,678.8	,28.90]])

c:\Users\Muhammad Faizan\anaconda3\envs\streamlit\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

ValueError: X has 12 features, but DecisionTreeClassifier is expecting 13 features as input.

In [1]:
gend=int(input("enter 1 for male and 0 for female"))
age=float(input("enter your current age"))
wbc=float(input("enter your wbc or white blood count "))
hgb=float(input("enter your current hgb"))
rbc=float(input("enter your current rbc from cbc test report"))
plt=float(input("enter your platelets "))
lym=float(input("enter your lymbosytes / lym"))
mid=float(input("enter your mid%"))
grand=float(input("enter your grand%"))
hct=float(input("enter your hct value"))
mch=float(input("enter your mch value"))
mchc=float(input("enter your mchc value"))

In [25]:
#save model into joblib format 
import joblib
joblib.dump(knn, "typhoid_model.joblib")

['typhoid_model.joblib']

In [2]:
import joblib
loaded_model = joblib.load("typhoid_model.joblib")

In [4]:
mod=loaded_model.predict([[1	,39,	2.61,	14.5,	4.65,	85.0	,65.8	,5.35,	29.0	,45.8	,87.2,	30.09,33.23]])
mod[0]

c:\Users\Muhammad Faizan\anaconda3\envs\streamlit\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

1

In [ ]:
import pickle
pickle.load()