# uti prediction model

In [83]:
import numpy as np
import pandas as pd
uti_data_set=pd.read_excel("update_uti_dataset.xlsx")

In [84]:
uti_data_set1=uti_data_set
uti_data_set1.head(2)

,Gender,age,wbc,hgb,rbc,plt,lym,mid,grand,hct,mcv,mch,mchc,uti_result
0,1.0,51,6.5,14.0,5.37,144.0,19.3,4.7,76.0,46.9,87.2,26.0,29.8,0
1,0.0,17,7.3,11.1,4.92,222.0,31.1,6.5,62.4,38.0,77.2,22.7,29.3,0

In [85]:
uti_data_set1.isnull().sum()

Gender        1
age           0
wbc           0
hgb           0
rbc           0
plt           0
lym           0
mid           0
grand         0
hct           0
mcv           0
mch           0
mchc          0
uti_result    0
dtype: int64

In [86]:

import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.ensemble import RandomForestClassifier

In [87]:
uti_data_set1 = uti_data_set1.dropna()

In [88]:
uti_data_set1= uti_data_set1.sample(frac=1, random_state=42).reset_index(drop=True)
uti_data_set1.head(2)

,Gender,age,wbc,hgb,rbc,plt,lym,mid,grand,hct,mcv,mch,mchc,uti_result
0,0.0,58,13.4,15.2,5.5,420.0,17.7,15.1,67.2,25.4,92.0,29.7,30.7,1
1,1.0,55,13.7,15.2,5.3,156.0,18.4,12.4,69.2,45.2,82.0,23.8,31.6,1

In [89]:
#shortend names

lr=LogisticRegression()
dt=DecisionTreeClassifier()
svr=SVC()
knn=KNeighborsClassifier()
clf = RandomForestClassifier(n_estimators=6, max_depth=14,  random_state=1234)

In [90]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
# rf=RandomForestClassifier()

In [91]:
uti_data_set1.columns

Index(['Gender', 'age ', 'wbc', 'hgb', 'rbc', 'plt', 'lym', 'mid', 'grand',
       'hct', 'mcv', 'mch', 'mchc', 'uti_result'],
      dtype='object')

In [92]:
uti_independent_variables=uti_data_set1.iloc[:,0:13]
uti_independent_variables.head(2)

,Gender,age,wbc,hgb,rbc,plt,lym,mid,grand,hct,mcv,mch,mchc
0,0.0,58,13.4,15.2,5.5,420.0,17.7,15.1,67.2,25.4,92.0,29.7,30.7
1,1.0,55,13.7,15.2,5.3,156.0,18.4,12.4,69.2,45.2,82.0,23.8,31.6

In [93]:
uti_dependend_variables=uti_data_set1.iloc[:,13:]
uti_dependend_variables.head()

   uti_result
0           1
1           1
2           1
3           1
4           0

In [94]:
uti_independent_variables.isnull().sum()

Gender    0
age       0
wbc       0
hgb       0
rbc       0
plt       0
lym       0
mid       0
grand     0
hct       0
mcv       0
mch       0
mchc      0
dtype: int64

In [95]:
uti_data_set1.uti_result.value_counts()

1    435
0    394
Name: uti_result, dtype: int64

In [96]:
x_train,x_test,y_train,y_test=train_test_split(uti_independent_variables,uti_dependend_variables,test_size=0.2,random_state=42)
from sklearn.metrics import accuracy_score,precision_score, recall_score, f1_score ,r2_score,r2_score

In [ ]:
#shortend names

lr=LogisticRegression()
dt=DecisionTreeClassifier(max_depth=10,max_features=13,max_leaf_nodes=4)
svr=SVC()
knn=KNeighborsClassifier()
clf = RandomForestClassifier(n_estimators=71, max_depth=5)

In [118]:
dt=DecisionTreeClassifier(max_depth=10,max_features=14,max_leaf_nodes=13)

In [119]:
for i in [dt]:
    #,svr,knn,cl,flr
    i.fit(x_train,y_train)
    pred=i.predict(x_test)
    test_score=r2_score(y_test,pred)
    train_score=r2_score(y_train,i.predict(x_train))
    precision = precision_score(y_test, pred)
    recall = recall_score(y_test, pred)
    f1 = f1_score(y_test, pred)

# Print the evaluation metrics
    print(i,"test score",test_score,"train_score",train_score)

    print(i,'Precision:', precision)
    print(i,'Recall:', recall)
    print(i,'F1-score:', f1)

DecisionTreeClassifier(max_depth=10, max_features=14, max_leaf_nodes=13) test score 0.9754728132387707 train_score 1.0
DecisionTreeClassifier(max_depth=10, max_features=14, max_leaf_nodes=13) Precision: 1.0
DecisionTreeClassifier(max_depth=10, max_features=14, max_leaf_nodes=13) Recall: 0.9893617021276596
DecisionTreeClassifier(max_depth=10, max_features=14, max_leaf_nodes=13) F1-score: 0.9946524064171123

In [ ]:
import joblib
joblib.dump(dt,"uti_model.joblib")